## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = 'C:/百日馬拉松'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: C:/百日馬拉松\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [11]:
pd.DataFrame(app_train).shape

(307511, 122)

#### 列出所有欄位

In [15]:
pd.DataFrame(app_train).columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [20]:
pd.DataFrame(app_train)[['AMT_ANNUITY','FLAG_DOCUMENT_19']]

        AMT_ANNUITY  FLAG_DOCUMENT_19
0           24700.5                 0
1           35698.5                 0
2            6750.0                 0
3           29686.5                 0
4           21865.5                 0
5           27517.5                 0
6           41301.0                 0
7           42075.0                 0
8           33826.5                 0
9           20250.0                 0
10          21177.0                 0
11          10678.5                 0
12           5881.5                 0
13          28966.5                 0
14          32778.0                 0
15          20160.0                 0
16          26149.5                 0
17          13500.0                 0
18           7875.0                 0
19          17563.5                 0
20          21375.0                 0
21          37561.5                 0
22          32521.5                 0
23          23850.0                 0
24          12703.5                 0
25          11074.5                 0
26          27076.5                 0
27          23827.5                 0
28          57676.5                 0
29           9000.0                 0
...             ...               ...
307481      19975.5                 0
307482      34969.5                 0
307483      16479.0                 0
307484      35617.5                 0
307485       9000.0                 0
307486      18283.5                 0
307487      31473.0                 0
307488      13351.5                 0
307489      23089.5                 0
307490       9148.5                 0
307491      31522.5                 0
307492      43443.0                 0
307493      37678.5                 0
307494      46858.5                 0
307495      23773.5                 0
307496      16875.0                 0
307497      12028.5                 0
307498      52168.5                 0
307499      12694.5                 0
307500      35982.0                 0
307501      11871.0                 0
307502      10620.0                 0
307503      17770.5                 0
307504      16096.5                 0
307505      22050.0                 0
307506      27558.0                 0
307507      12001.5                 0
307508      29979.0                 0
307509      20205.0                 0
307510      49117.5                 0

[307511 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子